<!DOCTYPE html>
<html>
  <head></head>
  
  <!--
    This is the HTML layout for the contact form to send.
  -->
  
  <body>
    <p>You have recieved a message from the site's contact form, from
      <%= "#{ @name }." %></p>
    <br>
    <p><b>Message:</b> <%= @body %></p>
  </body>
</html>